* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-image: url(https://cdn.shopify.com/s/files/1/1970/9573/products/1593-2x2-tile_1024x1024.jpg?v=1495157192;);

}

.container {
    width: 80%;
    margin: auto;
    height: 500px;
}
.header_top img{
  width: 100%;
  height: 100%;
  object-fit: cover;


}

.header_top {
    height: 200px;
    border:4px solid white;
    position: relative;
}

.header_bottom {
    height: 30px;
    background-color: #696969;
    position: relative;
}
.menu{
  text-align: center;
}
.menu h3{

  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
}


main {
    margin-top: 10px;
    margin-bottom: 10px;
}

main:after {
    content: '';
    display: table;
    clear: both;
}

.sidebar {
    width: 20%;
    float: left;
}

.left {
    background-color: #FFEFD5;
    height: 300px;
}

.right .widget {
    height: 150px;
    background-color: #FFEFD5;
    margin-bottom: 10px;
}

.main_content {
    width: 56%;
    background-color: #FFEFD5;
    height: 200px;
    float: left;
    margin:0 2%;

}
.titolo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    border:2px solid white;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.main_content{
  color:
}
.main_content .testo1 h2{

  text-align: center;
  color: #708090;
}





footer {
    background-color: yellow;
    height: 80px;
}
